<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>로그인 테스트</title>
</head>
<body>
<h1>회원가입 화면으로 이동</h1>
<button id="register-button">Register</button>
<h1>이메일 로그인</h1>

<form th:action="@{/login}" method="post">
  <div>
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required/>
  </div>
  <div>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required/>
  </div>
  <div>
    <button type="submit">로그인</button>
  </div>
</form>
<h1>카카오 로그인</h1>
<button id="kakao-login-btn">
  <img src="/images/kakao_login_large_wide.png" alt="카카오 로그인">
</button>
<script th:inline="javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const kakaoBtn = document.getElementById("kakao-login-btn");
    const registerBtn = document.getElementById("register-button");

    kakaoBtn.addEventListener("click", handleKakaoLogin);
    registerBtn.addEventListener("click",handleRegister);
  });


  function handleKakaoLogin() {
    const kakaoAuthUrl = /*[[${location}]]*/ "https://kauth.kakao.com/oauth/authorize?client_id=...";
    window.location.href = kakaoAuthUrl;
  }

  function handleRegister(){
    window.location.href="register";
  }
</script>
</body>
</html>