<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Saving Token...</title>
</head>
<body>
<p>로그인 처리 중입니다...</p>

<script th:inline="javascript">
  const accessToken = /*[[${accessToken}]]*/ "";
  const refreshToken = /*[[${refreshToken}]]*/ "";

  if (accessToken && refreshToken) {
    localStorage.setItem("accessToken", accessToken);
    localStorage.setItem("refreshToken", refreshToken);

    // URL 이동
    window.location.href = "/";
  } else {
    alert("토큰 저장 실패");
  }
</script>
</body>
</html>